$containerWidth: 940px;
$baseFontSize: 18px;
$z-index-menu: 100;

//breakpoints
$tablets: 768px;
$phones: 480px;

//color
$blue: #1968B1;
$yellow: #FEDB3F;
$grey: #666666;
$lightgrey: #F2F5F4;