.btn {
  display: inline-block;
  font-size: rem(16px);
  font-weight: bold;
  padding: rem(18px) rem(35px);
  text-transform: uppercase;
  background-repeat: rem(100px);
  line-height: 1;
  text-decoration: none;
  border: none;

  &--transparent {
    background: transparent;
    font-size: rem(20px);
    font-weight: 400;
    text-transform: initial;
    color: white;

    &:hover {
      color: $yellow;
    }
  }

  &--yellow {
    background: $yellow;
    color: black;
    border-radius: rem(50px);

    &:hover {
      background: white;
    }
  }
}