.footer {
  width: 100%;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include phones {
    flex-direction: column;
    padding: rem(18px);
  }
} 